<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>找回密码</title>
<link href="css/findpass.css" rel="stylesheet" />
<script src="js/angular.min.js"></script>
<script type="text/javascript" src="angularjs/app.js"></script>
<script type="text/javascript" src="angularjs/controller/findPasswordCtrl.js"></script>
<script type="text/javascript" src="angularjs/service/findPasswordService.js"></script>
</head>
<body ng-app="app" ng-controller="findPasswordCtrl">
<div class="content">
<ul>
<li style="margin-bottom:10px;">
	<input class="txt bguname pdleft50" type="text" placeholder="请输入账号" ng-model="userName" ng-keyup='getSecurityList()'/>
</li>
<li ng-show="msg!=''" style="margin-bottom:10px;color: red;font-weight: 700;">
	<span ng-bind="msg"></span>
</li>
<li>
	<hr class="hr"/>
</li>
<li ng-show='showSecurity' ng-repeat = 'security in securityList'>
	<p class="question">密保问题{{$index+1}}：{{security.securityTitle}}</p>
	<input class="txt pdleft25 pdright25" type="text" placeholder="请输入答案" ng-model='security.securityAnswer'/>
</li>
<!-- <li>
	<p class="question">密保问题2：最喜欢哪个城市？</p>
    <input class="txt pdleft25 pdright25" type="text" placeholder="请输入答案"/>
</li>
<li>
	<p class="question">密保问题3：最喜欢哪个城市？</p>
    <input class="txt pdleft25 pdright25" type="text" placeholder="请输入答案"/>
</li> -->
<li><input type="button" class="btn pdleft25 pdright25"  ng-click="submit()" value="提交"/></li>
</ul>
</div>
</body>
</html>