<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>密码找回</title>
<link href="css/repass.css" rel="stylesheet" />
<script src="js/angular.min.js"></script>
<script type="text/javascript" src="angularjs/app.js"></script>
<script type="text/javascript" src="angularjs/controller/findPasswordCtrl.js"></script>
<script type="text/javascript" src="angularjs/service/findPasswordService.js"></script>
</head>

<body  ng-app="app" ng-controller="findPasswordCtrl">
<div class="content">
<ul>
<li><input class="txt bgpass" type="text" placeholder="请输入新密码" ng-model='newPassword'/></li>
<li><input class="txt bgconfirm" type="text" placeholder="请确认新密码" ng-model='newRepassword'/></li>
<li><input type="button" class="btn" value="修改" ng-click='resetPassword()'/></li>
</ul>
</div>
</body>
</html>
