*{
	margin: 0px ;
	padding: 0px;
}
html { height: 100%;
	    width: 100%;
	    font-family: 'Heiti SC', 'Microsoft YaHei'; 
	    font-size: 100px; 
	    outline: 0; 
	    -webkit-text-size-adjust:none;
}
body { height: 100%; 
		margin: 0; 
		-webkit-user-select: none; 
		position: relative;
		background-color: #FAFAFB !important;
}
li{
	
	list-style: none;
}
a{
	text-decoration: none;
	
}
.fl{
	float: left;
	
}
.fr{
	float: right;
}



#hearder{
	height: 1.06rem;

}
.lef{
	height: 0.4rem;
	width: 1rem;
}
.lef img{
	    width: 0.2rem;
    height: auto;
    margin-top: 0.5rem;
    
}
.tp{
	font-size: 0.36rem;
	height: 0.4rem;
}
#hearder ul {
	height: 1.06rem;
}
#hearder ul li{
	float: left;
	width: 3rem;
	height: 1.06rem;
}
#hearder ul li a img{
	margin-left: -0.5rem;
    width: 0.2rem;
    height: auto;
    margin-top: 0.35rem;
}
#hearder ul li a{
	display: block;
	height: 1.06rem;
	width: 1.5rem;
	font-size: 0.34rem;
	line-height: 1.06rem;
	color: #3c3f58;
	text-align: center;
}
#top{
	height: 1.2rem;
	padding: 0.2rem 0.3rem;
	padding-left: 0.5rem;
	border-bottom: 1px solid #EDECEE;
}
#top .u1 li{
	float: left;
	width: 1.67rem;
	font-size:0.38rem ;
	color:#A4ABB8;
	/*text-align: center;*/
	
}
#top .u1{
	height: 1rem;
}
.kgon{
	color: #000000 !important;
	
}
#top .u1 li span{
	font-size:0.32rem ;
}
.u2{
	margin-top: 0.3rem;
}
.u2 li{
	float: left;
	width: 0.4rem;
	height: 0.07rem;
	
	
}
.bh{
	background: #000000;
}
#_lefttime, #_lefttime1, #_lefttime2{
	width: 0.5rem;
	height: 0.45rem;
	line-height: 0.45rem;
	text-align: center;
	border-radius: 0.1rem;
	display: inline-block;
	background: #3C3F58;
	color: #FFFFFF;
}
.time{
	height: 1.26rem;
	/*border-bottom: 1px solid #EDECEE;*/
}
.content{
	margin-bottom: 0.2rem;
}
.content-s-l img{
	width: 3.25rem;
	height: auto;
}
.content-s-l{
	float: left;
	height: 2.7941rem;
	background-color: #FFFFFF;
}
.content-s-r{
	float: right;
	width: 3.65rem;
	height: 2.7941rem;
	padding: 0.2rem;
	box-sizing: border-box;
	background-color: #FFFFFF;
	/*border-left:1px solid  #A4ABB8;*/
	/*margin-left: 0.1rem;*/
}
.content-s{
	height: 2.7941rem;
	width: 6.9rem;
	margin:0 auto;
}
.content-s-r ul li img{
	width: 0.4rem;
	height: 0.4rem;
	position: absolute;
}
.content-s-r ul li{
	width: 0.4rem;
	height: 0.4rem;
	float: left;
	position: relative;
}
.content-s-r ul{
	height: 0.5rem;
	width: 3rem;
}
.content-s-r ul li:nth-of-type(1){
	margin-left: 0rem !important;
}
.content-s-r ul li{
	margin-left: 0.15rem;
}
.content-s-r h3{
	font-size: 0.42rem;
	font-weight: bold;
	margin-bottom: 0.2rem;
}
.mon{
	width: 3.2rem;
	height: 0.5rem;
	font-size: 0.3rem;
	color: #3C3F58;
}


.mon span:nth-of-type(1){
	font-size: 0.3rem;
	color: #EE6B63;
}
.mon span:nth-of-type(2){
	font-size: 0.24rem;
	color: #B6BCC6;
	float: right;
	    margin-top: 0.05rem;
	    text-decoration: line-through;
}
.buy{
	height: 0.8rem;
	width: 3.2rem;
}
.numb{
	font-size: 0.3rem;
	float: left;
	    margin-top: 0.1rem;
}
.snap{
	    color: #ffffff;
    text-align: center;
    line-height: 0.7rem;
    font-size: 0.36rem;
    height: 0.7rem;
    width: 1.8rem;
    background-color: #EB4A3F;
    float: right;
    border-radius: 0.1rem;
}
.snap a{
	display: block;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
}
/*.content-s-l-2 img{
	width: 3.25rem;
	height: 2.79rem;
}
.content-s{
	position: relative;
}
.content-s-l-2{
	width: 3.25rem;
	position: absolute;
}
.content-s-2 {
    padding: 0rem 0.4rem;
    height: 2.7941rem;
    width: 6.9rem;
}*/


/*timebox*/
.timebox{
	overflow:hidden;
}
.timebox .time{
	float:right;
	margin-top:.15rem;
	margin-bottom:.15rem;
}
.timebox .time span{
	float:left;
	height:.38rem;
	line-height:.38rem;
	font-size:.28rem;
	color:#3c3f58;
}
.timebox .time font{
	float:left;
	width:.38rem;
	height:.38rem;
	line-height:.38rem;
	text-align:center;
	font-size:.22rem;
	color:#ffffff;
	border-radius:.06rem;
	background:#3c3f58;
}
/*timebox end*/
