html { height: 100%;
	    width: 100%;
	    font-family: 'Heiti SC', 'Microsoft YaHei'; 
	    font-size: 100px; 
	    outline: 0; 
	    -webkit-text-size-adjust:none;
}
/*==========head==========*/
.head{
	position:relative;
	width:6.8rem;
	height:1rem;
	margin:0 auto;
	color:#3c3f58;
}
.head .backfl{
	float:left;
	width:.17rem;
	background:url(../images/backbtn.png) no-repeat left center;
	background-size:.17rem .31rem;
}
.head .backfl a{
	display:block;
	height:1rem;
}
.head .title{
	font-size:0.4rem;
	line-height:1rem;
	width:100%;
	position:absolute;
	
}
.head .backfr{
	float:right;
	font-size:.36rem;
	background:url(../images/forwardbtn.png) no-repeat right center;
	background-size:.17rem .31rem;
}
.head .backfr a{
	display:block;
	height:1rem;
}
.head .backfr a img{
	width:.21rem;
	height:.32rem;
	vertical-align:middle;
	margin:.2rem .06rem auto .16rem;
	float:left;
	display:none;
}
.head .backfr a span{
	line-height:1rem;
	margin-right:.45rem;
}
/*==========head end*==========/

/*==========团购列表页==========*/
.groupon{
	width:6.8rem;
	margin:0 auto;
}
/*tabclick*/
.groupon .tabclick{
	text-align:center;
}
.groupon .tabclick a{
	display:inline-block;
	width:2.22rem;
	height:1rem;
	line-height:1rem;
	text-align:center;
	font-size:.28rem;
	color:#3c3f58;
	border:1px solid #3c3f58;
	box-sizing:border-box;
	margin-left:.02rem;
	margin-right:.02rem;
	background:#ffffff;
	box-sizing:border-box;
}
.groupon .tabclick a.active{
	color:#ffffff;
	background:#a3abb8;
	border:.01rem solid #a3abb8;
}
/*tabclick end*/

/*timebox*/
.groupon .timebox{
	overflow:hidden;
}
.groupon .timebox .time{
	float:right;
	margin-top:.15rem;
	margin-bottom:.15rem;
}
.groupon .timebox .time samp{
	float:left;
	height:.38rem;
	line-height:.4rem;
	font-size:.28rem;
	font-weight:600;
	color:#3c3f58;
	margin-right:.1rem;
}
.groupon .timebox .time span{
	float:left;
	height:.38rem;
	line-height:.36rem;
	font-size:.28rem;
	color:#3c3f58;
}
.groupon .timebox .time font{
	float:left;
	width:.38rem;
	height:.38rem;
	line-height:.38rem;
	text-align:center;
	font-size:.22rem;
	color:#ffffff;
	border-radius:.06rem;
	background:#3c3f58;
}
/*timebox end*/

/*itemlist*/
.groupon .itemlist ul li{
	display:block;
	background:#ffffff;
	margin-bottom:.15rem;
	padding-left:.15rem;
	padding-right:.15rem;
	box-sizing:border-box;
	box-shadow:10px 0px 50px #ebebec;
}
.groupon .itemlist ul li .itemtop{
	overflow:hidden;
	border-bottom:1px solid #edecee;
	padding-bottom:.21rem;
}
.groupon .itemlist ul li .itemtop .itempic{
	float:left;
	width:3.07rem;
	height:2.46rem;
}
.groupon .itemlist ul li .itemtop .itemstatus{
	float:right;
	width:3.28rem;
}
.groupon .itemlist ul li .itemtop .itemstatus .productname{
	font-family:"微软雅黑";
	font-size:.3rem;
	font-weight:700;
	color:#3c3f58;
	margin-top:.2rem;
	margin-bottom:.2rem;
}
/*itemlist end*/

/*star*/
.groupon .itemlist ul li .itemtop .itemstatus .star{
	overflow:hidden;
}
.groupon .itemlist ul li .itemtop .itemstatus .star i{
	float:left;
	width:.32rem;
	height:.32rem;
	margin-right:.15rem;
}
/*star end*/

/*price*/
.groupon .itemlist ul li .itemtop .itemstatus .price{
	overflow:hidden;
	margin-top:.21rem;
}
.groupon .itemlist ul li .itemtop .itemstatus .price span{
	float:left;
	height:.6rem;
	line-height:.6rem;
	font-size:.26rem;
	color:#3c3f58;	
}
.groupon .itemlist ul li .itemtop .itemstatus .price span font{
	color:#eb4a3f;
}
.groupon .itemlist ul li .itemtop .itemstatus .price samp{
	float:right;
	height:.6rem;
	line-height:.6rem;
	font-size:.26rem;
	color:#3c3f58;	
	text-decoration:line-through;
}
/*price end*/

/*number*/
.groupon .itemlist ul li .itemtop .itemstatus .number{
	overflow:hidden;
}
.groupon .itemlist ul li .itemtop .itemstatus .number span{
	float:left;
	font-size:.26rem;
	color:#3c3f58;
	height:.5rem;
	line-height:.5rem;
}
.groupon .itemlist ul li .itemtop .itemstatus .number .invitefriends{
	float:right;
	width:1.51rem;
	height:.5rem;
	line-height:.5rem;
	text-align:center;
	font-size:.26rem;
	color:#ffffff;
	border-radius:.06rem;
	background:#e4c23c;
}
/*number end*/

/*.progress_bar*/
.progress_bar{
	padding-bottom:.24rem;
}
.progress_bar .pro_bar{
	float:left;
	position:relative;
	width:2.4rem;
	height:.05rem;
	background:#c3c1c1;
	margin-bottom:.52rem;
	margin-top:.65rem;
	border-radius:.2rem;
}
.progress_bar .progress_bar_title{
	position:absolute;
	font-size:.22rem;
	font-weight:300;
	color:#a3abb8;
	top:-.45rem;
	right:0;
	z-index: 1;
}
.progress_bar .progress_bar_title font{
	color:#3c3f58;
}
.progress_bar .progress_bar_inner{
	position:absolute;
	display:block;
	width:0;
	height:100%;
	top:0;
	left:0;
	background:#e4c23c;
	transition:width 1s linear 0s;
	animation:animate-positive 2s;
	border-radius:.2rem;
}
.progress_bar .progress_bar_inner font{
	position:absolute;
	width:1.2rem;
	height:.4rem;
	line-height:.4rem;
	font-size:.16rem;
	color:#ffffff;
	text-align:center;
	top:.2rem;
	left:-0.6rem;
	background:url(../images/msgbj.png) repeat-x;
	background-size:cover;
}
.progress_bar .progress_bar_quan{
	position:absolute;
	display:block;
	width:0;
	height:100%;
	right:0;
	top:0;
}
.progress_bar .progress_bar_quan font{
	position:absolute;
	z-index:1;
	font-size:.18rem;
	color:#ffffff;
	text-align:center;
	width:.34rem;
	height:.34rem;
	line-height:.34rem;
	background:#c3c1c1;
	border-radius:50%;
	position:absolute;
	right:0;
	top:-.15rem;
}
@-webkit-keyframes animate-positive{
	0%{width:0%;}
}
@keyframes animate-positive{
	0%{ width:0%;}
}
.progress_bar .panic_buying{
	float:right;
	margin-top:.4rem;
	width:1.52rem;
	height:.5rem;
	line-height:.5rem;
	font-size:.26rem;
	color:#ffffff;
	text-align:center;
	border-radius:.06rem;
	background:#eb4a3f;
}
.progress_bar .panic_nobuy{
	float:right;
	margin-top:.4rem;
	width:1.52rem;
	height:.5rem;
	line-height:.5rem;
	font-size:.26rem;
	color:#ffffff;
	text-align:center;
	border-radius:.06rem;
	background:#A3ABB8;
}
/*.progress_bar end*/

/*==========团购列表页 end==========*/

/*==========热门活动详情页==========*/

/*line*/
.hotactivity .nav{overflow:hidden;width:100%;height:1.4rem;font-size:20px;padding-top:.33rem;padding-bottom:.5rem; border-bottom:1px solid #edecee;}
.hotactivity .nav .swiper-wrapper{width:100%;left:0;text-align:center;;}
.hotactivity .nav .swiper-wrapper .swiper-slide{float:left;cursor:pointer;height:1.6rem;}
.hotactivity .nav .swiper-wrapper .swiper-slide img{width:.91rem;height:.91rem;}
.hotactivity .nav .swiper-wrapper .swiper-slide a{display: block;position: relative;width:100%;height:100%;}
.hotactivity .nav .swiper-wrapper .swiper-slide a .place{width:100%;position:absolute;bottom:0;font-size:.32rem;color:#3c3f58;}
.hotactivity .nav .swiper-wrapper .swiper-slide:nth-child(1) a{background: url("../img/tab1_1.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide:nth-child(2) a{background: url("../img/tab2_1.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide:nth-child(3) a{background: url("../img/tab3_1.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide:nth-child(4) a{background: url("../img/tab4_1.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide:nth-child(5) a{background: url("../img/tab5_1.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide:nth-child(6) a{background: url("../img/tab6_1.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}

.hotactivity .nav .swiper-wrapper .swiper-slide.on:nth-child(1) a{background: url("../img/tab1_2.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide.on:nth-child(2) a{background: url("../img/tab2_2.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide.on:nth-child(3) a{background: url("../img/tab3_2.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide.on:nth-child(4) a{background: url("../img/tab4_2.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide.on:nth-child(5) a{background: url("../img/tab5_2.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}
.hotactivity .nav .swiper-wrapper .swiper-slide.on:nth-child(6) a{background: url("../img/tab6_2.png") no-repeat;background-size: .91rem .91rem;background-position: center top;}

/*line end*/

/*linecontent*/
.hotactivity .linecontent{
	display:none;
}
.hotactivity .linecontent.on{
	display:block;
}
.hotactivity .linecontent .typename{
	width:6.8rem;
	margin:0 auto;
	overflow:hidden;
	padding-top:.47rem;
}
.hotactivity .linecontent .typename strong{
	float:left;
	height:.52rem;
	font-size:.52rem;
	color:#3c3f58;
	line-height:.52rem;
}
.hotactivity .linecontent .typename .star{
	float:right;
	width:2.82rem;
	height:.52rem;
	border:1px solid #edecee;
	box-sizing:border-box;
	border-radius:.3rem;
	text-align:center;
}
.hotactivity .linecontent .typename .star i{
	display:inline-block;
	width:.32rem;
	height:.32rem;
	padding-left:.08rem;
	padding-right:.08rem;
	padding-top:.08rem;
}
.hotactivity .linecontent .typename .star i img{
	width:.32rem;
	height:.32rem;
}
.hotactivity .linecontent .carousel{
	width:100%;
	position:relative;	
	margin:0 auto;
	overflow:hidden;
	padding-bottom:50px;
}
.hotactivity .linecontent .carousel .carouselcontainer{
	position:relative;
	float:left;
}
.hotactivity .linecontent .carousel .carouselcontainer li{
	position:absolute;	
}
.hotactivity .linecontent .carousel .carouselcontainer li img{
	display:block;
	max-width:none !important;
}
.hotactivity .linecontent .carousel .carouselcontainer li a img{
	border:none;
}

.hotactivity .linecontent .carousel .carouselcontainer .sccontent{
	position:relative;
	display:block;
	text-align:center;
	box-shadow:2px 2px 5px #e4e5e8;
	background:#ffffff;
	padding-bottom:.4rem;
}
.hotactivity .linecontent .carousel .carouselcontainer .sccontent .amount{
	position:absolute;
	width:5.3rem;
	height:1.4rem;
	line-height:1.4rem;
	text-align:center;
	left:50%;
	margin-left:-2.65rem;
	top:-.7rem;
	background:#3c3f58;
	font-size:.6rem;
	color:#ffffff;
	border-radius:1rem;
}
.hotactivity .linecontent .carousel .carouselcontainer .sccontent h2{
	font-size:.7rem;
	color:#3c3f58;
	padding-top:1.6rem;
}
.hotactivity .linecontent .carousel .carouselcontainer .sccontent .star i{
	display:inline-block;
	margin-left:.08rem;
	margin-right:.08rem;
	margin-top:.25rem;
	margin-bottom:.25rem;
}
.hotactivity .linecontent .carousel .carouselcontainer .sccontent .star i img{
	width:.64rem;
	height:.64rem;
}
.hotactivity .linecontent .carousel .carouselcontainer .sccontent p{
	font-size:.6rem;
	color:#a3abb8;
	line-height:0.9rem;
}

.hotactivity .linecontent .carousel .scnavbutton{
	display:none;
}
/*linecontent end*/
/*==========热门活动详情页 end==========*/

/*==========提交订单==========*/

.placeorder .order_address{
	width:6.98rem;
	padding-left:.26rem;
	padding-right:.26rem;
	padding-top:.6rem;
	padding-bottom:.6rem;
}
/*info*/
.placeorder .order_address .content .info{
	width:5.75rem;
	font-size: 0.35rem;
	color:#3c3f58;
	padding-left:.85rem;
	overflow:hidden;
	height: 0.35rem;
    line-height: 0.35rem;
}
.address_label{
	width: 25%;
}
.address_name{
	width: 30%;
	font-size: 0.3rem;
	color: #3c3f58;
}
.address_phone{
	width: 40%;
	font-size: 0.3rem;
	color: #3c3f58;
}
.address_address{
	font-size: 0.3rem;
    color: #656576;
    width: 3.4rem;
}

/*info end*/

/*detail*/
.placeorder .order_address .content .detail{
	width:6.12rem;
	background:url(../images/address.jpg) left top no-repeat;
	background-size:.36rem .47rem;
	padding-left:.85rem;
	margin-top:.4rem;
	overflow:hidden;
}
.placeorder .order_address .content .detail p{
	float:left;
	width:5.75rem;
	font-size:.3rem;
	color:#656576;
	width: 4.9rem;
}
.placeorder .order_address .content .detail a{
	float:right;
	width:.37rem;
	height:.47rem;
	text-align:center;
	background:url(../images/forwardbtn.png) no-repeat center center;
	background-size:.17rem .31rem;
}
/*detail end*/

.placeorder .order_order{
	width:6.98rem;
	padding-left:.26rem;
	padding-right:.26rem;
	padding-top:.47rem;
	padding-bottom:.47rem;
}
.placeorder .order_order .itemtop{
	width:6.98rem;
	margin-bottom:.5rem;
	overflow:hidden;
}
.placeorder .order_order .itemtop .itempic{
	float:left;
	width:2.04rem;
	height:2.04rem;
}
.placeorder .order_order .itemtop .itemstatus{
	float:right;
	width:4.54rem;
}
.placeorder .order_order .itemtop .itemstatus .productname{
	font-size:.32rem;
	color:#3c3f58;
	margin-top:.2rem;
}
.placeorder .order_order .itemtop .itemstatus .coloroptions span{
	font-size:.3rem;
	color:#656576;
	margin-top:.1rem;
}
.placeorder .order_order .itemtop .itemstatus .price{
	overflow:hidden;
	margin-top:.46rem;
}
.placeorder .order_order .itemtop .itemstatus .price span{
	float:left;
	font-size:.3rem;
	color:#eb4a3f;
	height:.6rem;
	line-height:.6rem;
}
.placeorder .order_order .itemtop .itemstatus .price samp{
	float:right;
	text-decoration:line-through;
	font-size:.3rem;
	color:#656576;
	height:.6rem;
	line-height:.6rem;
}
.placeorder .order_order .order_item .buy_single_row:first-child{
	border:none;
}
.placeorder .order_order .order_item .buy_single_row{
	display:block;
	overflow:hidden;
	border-top:1px solid #edecee;
}
.placeorder .order_order .order_item .buy_single_row .title{
	float:left;
	height:1rem;
	line-height:1rem;
	font-size:.3rem;
	color:#3c3f58;
}
.placeorder .order_order .order_item .buy_single_row .goods{
	float:right;
	margin-top:.28rem;
}
.placeorder .order_order .order_item .buy_single_row .goods .pull{
	float:left;
	width:.94rem;
	height:.48rem; 
	line-height:.48rem; 
	font-size:.26rem; 
	color:#eb4a3f; 
	text-align:center;
}
.placeorder .order_order .order_item .buy_single_row .goods .pull_left{
	float:left; 
	width:.48rem; 
	height:.48rem; 
	background:url(../images/pull_left.jpg) no-repeat; 
	background-size:.47rem .47rem;
}
.placeorder .order_order .order_item .buy_single_row .goods .pull_right{
	float:left; 
	width:.48rem; 
	height:.48rem; 
	background:url(../images/pull_right.jpg) no-repeat; 
	background-size:.47rem .47rem; 
}
.placeorder .order_order .order_item .buy_single_row .content{
	float:right;
	width:80%;
	height:1rem;
	line-height:1rem;
	border:none;
	text-align:right;
	font-size:.3rem;
	color:#3c3f58;
}
.placeorder .order_order .order_item .buy_single_row textarea{
	width:100%;
	height:1.8rem;
	background:#f7f7f7;
	margin-bottom:.35rem;
}
.foot{
	width:100%;
	height:1.08rem;
}
.foot .foot_fl{
	float:left;
	width:55%;
	height:1.07rem;
	line-height:1.07rem;
	text-align:center;
	text-indent:2em;
	font-family:"宋体";
	font-size:.32rem;
	color:#3c3f58;
	background:#ffffff;
	border-top:1px solid #edecee;
}
.foot .foot_fl span{
	color:#eb4a3f;
}
.foot .foot_fr{
	float:left;
	width:45%;
	height:1.08rem;
	line-height:1.08rem;
}
.foot .foot_fr a{
	display:block;
	font-size:.48rem;
	color:#ffffff;
	text-align:center;
	background:#eb4a3f;
}
/*==========提交订单 end==========*/

/*==========今日秒杀==========*/
.today_spike{
}
/*tabclick*/
.today_spike .tabclick{
    margin-top: 0.4rem;
	text-align:center;
	border-bottom:1px solid #a3abb8;
}
.today_spike .tabclick ul li{
	float:left;
	width:25%;
	box-sizing:border-box;
}

.today_spike .tabclick ul li a{
	position:relative;
	display:inline-table;
	font-size:.28rem;
	color:#a3abb8;
	text-align:left;
	padding-bottom:.24rem;
}
.today_spike .tabclick ul li a.active{
	color:#3c3f58;
}
.today_spike .tabclick ul li a.active::after{
	content:'';
    position:absolute;
	bottom:0;
    left:0;
    height:.05rem;
    width:0.4rem;
	background:#3c3f58;
}
.today_spike .tabclick ul li a b{
	display:block;
	font-size:.36rem;
}
/*tabclick end*/
/*timebox*/
.today_spike .timebox{
	overflow:hidden;
	width:6.8rem;
    margin:0 auto;
}
.today_spike .timebox .time{
	float:right;
	margin-top:.22rem;
	margin-bottom:.22rem;
}
.today_spike .timebox .time samp{
	float:left;
	height:.38rem;
	line-height:.4rem;
	font-size:.28rem;
	font-weight:600;
	color:#3c3f58;
	margin-right:.1rem;
}
.today_spike .timebox .time span{
	float:left;
	height:.38rem;
	line-height:.36rem;
	font-size:.28rem;
	color:#3c3f58;
}
.today_spike .timebox .time font{
	float:left;
	width:.38rem;
	height:.38rem;
	line-height:.38rem;
	text-align:center;
	font-size:.22rem;
	color:#ffffff;
	border-radius:.06rem;
	background:#3c3f58;
}
/*timebox end*/

/*itemlist*/
.today_spike .itemlist{
	width:6.8rem;
	margin:0 auto;
}
.today_spike .itemlist ul li{
	display:block;
	background:#ffffff;
	margin-bottom:.15rem;
	padding-left:.15rem;
	padding-right:.15rem;
	box-sizing:border-box;
	box-shadow:10px 0px 50px #ebebec;
}
.today_spike .itemlist ul li .itemtop{
	overflow:hidden;
}
.today_spike .itemlist ul li .itemtop .itempic{
	float:left;
	width:3.07rem;
	height:2.46rem;
}
.today_spike .itemlist ul li .itemtop .itemstatus{
	float:right;
	width:3.28rem;
}
.today_spike .itemlist ul li .itemtop .itemstatus .productname{
	font-family:"微软雅黑";
	font-size:.3rem;
	font-weight:700;
	color:#3c3f58;
	margin-top:.2rem;
	margin-bottom:.2rem;
}
/*itemlist end*/

/*star*/
.today_spike .itemlist ul li .itemtop .itemstatus .star{
	overflow:hidden;
}
.today_spike .itemlist ul li .itemtop .itemstatus .star i{
	float:left;
	width:.32rem;
	height:.32rem;
	margin-right:.15rem;
}
/*star end*/

/*price*/
.today_spike .itemlist ul li .itemtop .itemstatus .price{
	overflow:hidden;
	margin-top:.21rem;
}
.today_spike .itemlist ul li .itemtop .itemstatus .price span{
	float:left;
	height:.6rem;
	line-height:.6rem;
	font-size:.26rem;
	color:#3c3f58;	
}
.today_spike .itemlist ul li .itemtop .itemstatus .price span font{
	color:#eb4a3f;
}
.today_spike .itemlist ul li .itemtop .itemstatus .price samp{
	float:right;
	height:.6rem;
	line-height:.6rem;
	font-size:.26rem;
	color:#3c3f58;	
	text-decoration:line-through;
}
/*price end*/

/*number*/
.today_spike .itemlist ul li .itemtop .itemstatus .number{
	overflow:hidden;
}
.today_spike .itemlist ul li .itemtop .itemstatus .number span{
	float:left;
	font-size:.26rem;
	color:#3c3f58;
	height:.5rem;
	line-height:.5rem;
}
/*number end*/
.today_spike .itemlist ul li .itemtop .itemstatus .number .panic_buying{
	float:right;
	width:1.52rem;
	height:.5rem;
	line-height:.5rem;
	font-size:.26rem;
	color:#ffffff;
	text-align:center;
	border-radius:.06rem;
	background:#eb4a3f;
}
.today_spike .itemlist ul li .itemtop .itemstatus .number .panic_nobuying{
	float:right;
	width:1.52rem;
	height:.5rem;
	line-height:.5rem;
	font-size:.26rem;
	color:#ffffff;
	text-align:center;
	border-radius:.06rem;
	background:#A3ABB8;
}

/*==========今日秒杀 end==========*/


